/* @import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap'); */
@import "tailwindcss";

@layer base {
  html {
    @apply bg-stone-950 font-normal;
  }

  body {
    @apply m-0 p-0 min-h-screen flex flex-col font-fugaz-one;
  }

  a {
    @apply no-underline text-inherit;
  }
}

@theme {
  --font-fugaz-one: "Fugaz One", sans-serif;
}


@layer utilities {

  .h-min-screen {
    /* Minimo para centrar */
    min-height: 85vh;
  }

  .page-container {
    @apply flex items-center justify-center text-white;
  }

  /* Animaciones para Toasts */

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.3s ease-out;
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  .animate-fade-out {
    animation: fade-out 0.3s ease-out;
  }

  /* Animaciónes para Navbar */
  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slide-down {
    animation: slide-down 0.3s ease-out;
  }

  @keyframes slide-up {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  .animate-slide-up {
    animation: slide-up 0.3s ease-out;
  }
}
